body {
	/* NOTE removed to avoid visual issues */
	white-space: normal;

	/* for aesthetics */
	padding: 32px;
}

.hero {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(325px, 4fr));
	gap: 2em;
}

.hero > * {
	margin: 0;
}

/* color links like Notion.  Not sure why this isn't exported properly. */
:not(.image) > a[href] {
	text-decoration: none;
	border-bottom: 0.05em solid;
	border-color: rgba(55, 53, 47, 0.4);
	opacity: 0.7;
	transition: all 0.3s;
}

:not(.image) > a[href]:hover {
	border-color: rgba(5, 3, 7, 0.8);
	opacity: 1;
}

.column-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	column-gap: 2em;
}

.link-list {
	padding: 0;
	margin: 0;
}
.link-list > li {
	list-style-type: none;
}

/* remove padding since it's covered by column-gap */
.column {
	padding: 0;
}
